body {
    text-align: center;
    background-color: white;
    color:black
}
.header{
    padding: 20px;
    background-color: royalblue;
    color: red;
    font-family: italic;
    margin: 50px;
}

.modal{
    display: block;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.board{
    background-color: blueviolet;
    border:1px solid black;
    text-align: center;
    display: block;
    margin: auto;
    height: 220px;
    width: 220px;
}
.clock{
    display: inline;
}
.mines{
    display: inline;
}


.game{
    display: block;
    text-align: center;
    margin-inline: 10px;
}


.cell {
    border: 2px solid black;
    width:40px;
    height:40px;
    text-align: center;
    cursor: pointer;
}
.cell:hover{
    padding: 3px solid teal;
    border:2px solid teal;
    color: blue;
}
/* .cell img {width:25px; height:auto} */